nav{
  text-align: center;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} 

img{
  max-width: 75%;
  max-height: 750px;
  width: auto;
  height: auto;
}